node_modules/
.env
.env.local

# server
server/data/*.db
server/data/*.db-journal
server/data/*.db-shm
server/data/*.db-wal
server/uploads/*
!server/uploads/.gitkeep
!server/data/.gitkeep

# client
client/dist/

# misc
.DS_Store
*.log
